@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
html * {
  font-family: 'Quicksand', sans-serif;
}
ul * {
  list-style-type: none;
}

a:link {
  text-decoration: none;
  color:rgba(160, 19, 38, 0.58)
}

a:hover {
  color:rgba(160, 19, 38, 0.58);
  background-color: #FDE1E5;
}

a:active {
  color:aqua;
}

.h1 {
  font-weight: bold;
  color: #000000;
  font-size: 40px;
  margin-top: 0%;
  padding: 20px 20px;
}

.products h1 {
  font-size: 42px;
}

.menu-heading {
  text-align: center;
  font-size: 48px;
  padding: 20px;
}

/* Styling navigation bar */
*{transition:all 0.3s ease-in-out;}

/* Wrapper class for navigation bar */
.nav-wrapper {
  /* overflow: hidden; */
  background-color: rgba(255,249,250,1);
  opacity: 1;
  width: 100%;
  height: fit-content;
  float: left;
  /* position: absolute; */
  /* top:0; */
}
/* Company logo */
.logo img{
  float:left; 
  margin: auto;
  height: auto;
  padding-top: 20px;
  left: 25px;
  position: sticky;
}

.nav-bar {
  display: flex;
  list-style-type: none;
  position: relative;
  float: right;
  overflow: hidden;
  padding-right:10px;
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-bar li a {
  display: block;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  opacity: 0.6;
  padding: 14px 6px;
  text-decoration: none;
  overflow: hidden;
}
/* Change the link color to #111 (black) on hover */
.nav-bar li a:hover {
    background-color: #323030;
    color: #fffefe;
  }


.banner {
  padding-top: 150px;
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./assets/header_banner.jpeg'); 
  background-repeat: no-repeat;
  background-position: center;
  /* justify-content: to;  */
  background-size: cover;
  position: inherit;
}
/* Affects both button and banner text */
.hero-text {
  position: relative;
  text-align: left;
  font-weight: bolder;
  left: 50px;
  padding-bottom: 50px;
  /* top: 40%; */
  width: 80%;
}

.hero-text h1 {
  color: white;
  font-size: 4vw;
}


.banner p {
  color: white;
  font-size: 40px;
}

/* Shop-now Button */
.banner-button {
  background-color: #C8727D;
  color:white;
  border:none;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
  padding: 16px 50px;
  text-decoration: none;
}

.banner-button:hover {
  background-color: #323030;
  color: white;
}

/* Style Intro Article */

.intro {
  position:inherit;
  width: 100%;
  text-align: center;
  justify-content: center;
  background-color: #FDE1E5;
}

.intro h1 {
  font-weight: bold;
  color: #000000;
  font-size: 28px;
  margin-top: 0%;
  padding-top: 20px;

}

.intro p {
  text-align: center;
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
  /* left: calc(50%);
  top: calc(50%); */
  line-height: 34px;
  margin-bottom: 2px;
}

.read-more {
  position: inherit;
  background-color:#323030;
  color:white;
  border:none;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  margin: 16px auto;
  padding: 16px 50px;
  text-decoration: none;
  margin-bottom: 30px;
}
.read-more:hover {
  background-color: #C8727D;
  color:white;
}


/* STYLE PRODUCT PREVIEW SECTION - ON HOMEPAGE */
.products {
  text-align: center;
}

.product-cards {
  display: grid;
  grid-column: 5;
  grid-gap: 10px ;
  background-color: white;
  padding: 10px;
  list-style-type: none;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(280px , 1fr));
  text-align: left;
}

.item {
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 280px;
  height: 360px;
}

.product-img {
  display: block;
  width: 240px;
  height: 240px;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
}
.product-name {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 20px;
  padding-left: 5px;

}
.card-price{
  position: relative;
  opacity: 0.6;
  font-weight: lighter;
  margin: 10px 20px;
  margin-bottom: 10px;
  padding-left: 5px;
}
.cart-sym {
  width: 20px;
  height: 20px;
  float: right;
  text-align: right;
}


/* STYLE PRODUCT SECTION - ON PRODUCTS PAGE */

.main-menu {
  margin: 50px 100px;
  justify-content: center;

}

.main-menu.product-cards {
  display: grid;
  grid-gap: 20px;
  background-color: white;
  padding: 10px;
  list-style-type: none;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(320 , 1fr));
  text-align: left;
}

/* ADDITIONAL BANNNER */
.additional-para {
  text-align: left;
  background-color: rgba(160, 19, 38, 0.58);
  position: inherit;
  width: 100%;
  height: wrap;
  display: inline-flexbox;
}

.additional-para img {
  object-fit: cover;
  display: inline-block; 
  max-width: 50%;
  vertical-align: top;
  height: auto;
  overflow: clip;
}

.side-text-wrapper {
  text-justify: center;
  width: 50%;
  display: inline-block;
  float:left;
}

.side-text-wrapper h1 {
  margin: 10px 10px;
  padding: 15px 15px;
  font-size: 2vw;
  margin: 10px;
}

.side-text-wrapper p {
  /* width: 50%; */
  font-size: 20px;
  font-weight: lighter;
  padding: 15px 15px;
  margin: 10px;


}

/* TESTIMONIALS */

.testimonials {
  justify-content: center;
  text-align: center;
  /* height: 400px; */
  padding: 20px 20px;
}

.testimonials h1 {
  padding: top 60px bottom 30px;
  font-size: 10px;

}

.testimonials tr p {
  justify-content: center;
  text-align: center;
  font-size: 2vw;
  font-style: italic;
}

reviews-script {
  padding: 20px 20px;
  width: 400px;
}

/* Style ABOUT PAGE*/

.about {
  position: relative; /*change from inherit to relative*/
  width: 100%;
  height: fit-content;
  display: inline-flexbox;
}

.chef {
  object-fit: cover;
  width: 300px;
  height: 300px;
  display: inline-block; 
  vertical-align: top;
  margin: 30px 30px;
}

.introduction {
  text-justify: center;
  padding: 20px 50px;
  width: 50%;
  /* padding: 100px; */
  display: inline-block;
  /* float:left; */
}

.introduction p {
  font-size: 20px;
  text-align: left;
}

.product-page-footer {
  position: relative;
  top: 800px;
}

/* HOOK PARAGRAPH STYLES */

.hook-paragraph {
  background-color: #FDE1E5;
  margin-bottom: 60px;
  padding: 30px 30px;
}

/* Style FOOTER */
.footer {
  position: inherit;
  width: 100%;
  bottom:0px;
  display: block;
}
.upper-container{
  position: inherit;
  /* max-width: 100%; */
  display: block;
  height: fit-content;
  left: 0px;  
  background: #FDE1E5;
  /* align-items: center;*/
  /* justify-content: center;  */
  flex-direction: row;
  text-align: left;
  padding: 20px;
 }

.logo-footer {
  position: inherit;
  display: inline-block;
  width: 100%;
}

.Support {
  position: inherit;
  display: inline-block;
  width: 40%;
}
.Company {
  position: inherit;
  display: inline-block;
  width: 40%;
}
.social-icon {
  position: inherit;
  display: flex;
  flex-direction: row;
  color:#323030;
}

.social-icon li {
  padding-left: 10px; 
}

.subscribe {
  position: inherit;
  display: inline-block;
}

.bottom-container{
  position: inherit;
  display: block;
  /* max-width: 100%; */
  height: fit-content;
  left: 0px;
  border:0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #0F0E0E;
  bottom:0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.bottom-container p {
  color: white;
}
