/* Style PRODUCT info*/
.product-info{
  position: inherit;
  top: 480px;
  height:fit-content;
  display: inline-flexbox;
  flex-direction: column;
  width: 100%;
  padding: 50px 30px;
}

.cake {
    object-fit: cover;
    width: 30%;
    height: 100%;
    display: inline-block; 
    vertical-align: top;
    padding: 20px;
  }

.details {
    position: inherit;
    display: inline-block;
    width: 60%;
    padding: 10px;
}
.name{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
.price{
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 31px;
  color: #5C5C5C;
}
.quantity{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  text-transform: capitalize;
  color: #000000;
}
.favorite{
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 12px;
}
.add-to-cart{
  width: 285px;
  height: 45px;
}
.description{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}
.checked {
  color: orange;
}

table, th, td {
  border:none;
}
